.video-container .video-content {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
    width: 100%; /* Ensure the container takes the full width */
}

.video-container .video-content iframe {
    width: 100% !important; /* Make the iframe take the full width of its parent */
    height: auto; /* Adjust the height automatically based on the aspect ratio */
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio*/
}

.video-container.active .video-content {
    max-height: 1000px; 
}